*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    font-family:'Montserrat','serif';
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    cursor: pointer;
}
.speed-indicator {
    position: absolute;
    font-size: 15px;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
    pointer-events: none;
    user-select: none;
}


#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 100% 100%;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-image:
    radial-gradient(15% 25% at 20% 45%, rgba(227, 180, 5, 0.02) 5%, rgba(23, 22, 23, 0) 100%),
    radial-gradient(18% 28% at 18% 71%, rgba(227, 180, 5, 0.025) 6%, rgba(23, 22, 23, 0) 100%),
    radial-gradient(70% 53% at 36% 76%, #171617 0%, rgba(23, 22, 23, 0) 100%),
    radial-gradient(42% 53% at 15% 94%, rgba(227, 180, 5, 0.04) 7%, rgba(23, 22, 23, 0) 100%),
    radial-gradient(42% 53% at 34% 72%, rgba(23, 22, 23, 0.7) 7%, rgba(23, 22, 23, 0) 100%),
    radial-gradient(18% 28% at 35% 87%, rgba(23, 22, 23, 0.8) 7%, rgba(23, 22, 23, 0) 100%),
    radial-gradient(31% 43% at 7% 98%, rgba(227, 180, 5, 0.03) 24%, rgba(23, 22, 23, 0) 100%),
    radial-gradient(21% 37% at 72% 23%, rgba(23, 22, 23, 1) 24%, rgba(23, 22, 23, 0) 100%),
    radial-gradient(35% 56% at 91% 74%, rgba(227, 180, 5, 0.02) 9%, rgba(23, 22, 23, 0) 100%),
    radial-gradient(74% 86% at 67% 38%, rgba(23, 22, 23, 1) 24%, rgba(23, 22, 23, 0) 100%),
    linear-gradient(125deg, #171617 1%, #171617 100%);
}

.loader-bg {
  text-align: center;
  color: white;
}

.loader-bar {
  width: 250px;
  height: 10px;
  /* background: rgba(255, 255, 255, 0.01); */
  border-radius: 15px;
  overflow: hidden;
  margin: 0 auto 12px auto;
  box-shadow: 0 0 10px rgba(227, 180, 5, 0.3);
}

.loader-bar-fill {
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #e3b405, #ffda6b);
  transition: transform 0.5s ease-in-out;
  border-radius: 15px;
  transform: scaleX(0);
  transform-origin: top left;
}

#loader-percent {
  font-size: 2em;
  opacity: 0.8;
  text-shadow: 0 0 10px rgba(227, 180, 5, 0.5);

}



/* RL TRACK */
.text-rl-track
{
  position: absolute;
  top: 50%;
  left: 50%;
}
